<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vaccine Availability</title>
  <script src="../static/js/jquery-1.11.1.min.js"></script>
  <script src="../static/js/echarts.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
  <link href="../static/css/main.css" rel="stylesheet"/>
  <link href="../static/css/table.css" rel="stylesheet"/>
  <style>
  </style>
</head>
<body>
<div id="title">Vaccine Availability</div>
<div id="tim">Current Time</div>
<div id="lt">left top</div>
<div id="lb">left bottom</div>
<div id="r">
  <h1>The city nearby vaccine schedule availability situation history</h1>
  <table id="city" class="display" style="width:100%">
        <thead>
            <tr>
                <th>city</th>
                <th>available</th>
                <th>total</th>
                <th>available rate</th>
            </tr>
        </thead>
    </table>
</div>
<script src="../static/js/ec_left_top.js"></script>
<script src="../static/js/ec_left_bottom.js"></script>
<script src="../static/js/controller.js"></script>
</body>
</html>